doctype html
html(lang='en_US')
   head
      link(rel='amphtml', href='m.html')
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         let _start = Date.now()
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')
      link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Playfair+Display:400,400i,700,700i', rel='stylesheet')

      script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
      script(src='https://unpkg.com/axios@0.19.0-beta.1/dist/axios.min.js')

      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/blueimp-load-image@2.19.0/js/load-image.all.min.js')
      script(src= ROOT + 'assets/js/setup.js')

      style.
         .delayShowing { opacity: 0; }

      title #{pageTitle}
      meta(name='description', content=content_text)

      // Schema.org markup for Google+
      meta(itemprop='name', content=title)
      meta(itemprop='description', content=content_text)
      meta(itemprop='image', content=image)
      meta(name='keywords', content=keywords)

      // Twitter Card data
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:title', content=title)
      meta(name='twitter:description', content=content_text)
      // Twitter summary card with large image must be at least 280x150px
      meta(name='twitter:image', content=image)

      // Open Graph data
      meta(property='og:title', content=title)
      meta(property='og:type', content='article')
      // meta(property='og:url', content='#')
      meta(property='og:image', content=image)
      meta(property='og:description', content=comment)

      meta(name="google-site-verification", content="Zu5ZnMt3FILJtC7eu_MhsNzb5tHdGXAfReJspT3RwNg")

      block head2

   body(class=home)

      block top
         .pageBack
            include /layout/nav
            .slider-wrap
               .top-slider
                  .slide-1
                     .img-top
                        .pad
                           div
                              include:metaMD text-top.1.md
                  .slide-2
                     .img-top
                        .pad
                           div
                              include:metaMD text-top.2.md
                  .slide-3
                     .img-top
                        .pad
                           div
                              include:metaMD text-top.md
            .img-top.inner
               .pad
                  include:metaMD text-top.md


      .content-wrapper
         block main

         include foot

      script.
         function userSzSc() {
            console.log('resize|scroll')
         }
